In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
salary_train = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/SalaryData_Train.csv")

In [5]:
salary_test = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/SalaryData_Test.csv")

In [6]:
salary_train = pd.DataFrame(salary_train)

In [7]:
salary_test = pd.DataFrame(salary_test)

In [ ]:
salary_train.head()

In [ ]:
salary_train.describe()

In [ ]:
def norm_func(i):
    x = (i-i.min())	/ (i.max()-i.min())
    return (x)

In [ ]:
plt.bar(height = salary_train.Salary, x = np.arange(1,30162,1))

In [ ]:
plt.hist(salary_train.Salary)

In [8]:
import seaborn as sns

In [ ]:
sns.pairplot(salary_train.iloc[:,:])

In [ ]:
###### model building####
salary_train.head()

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lb = LabelEncoder()

In [17]:
salary_train["native"] = lb.fit_transform(salary_train["native"])
salary_train["education"] = lb.fit_transform(salary_train["education"])
salary_train["maritalstatus"] = lb.fit_transform(salary_train["maritalstatus"])
#salary_train["occupation"] = lb.fit_transform(salary_train["occupation"])
salary_train["race"] = lb.fit_transform(salary_train["race"])
salary_train["relatioship"] = lb.fit_transform(salary_train["relationship"])
salary_train["occupation"] = lb.fit_transform(salary_train["occupation"])
salary_train["sex"] = lb.fit_transform(salary_train["sex"])
salary_train["workclass"] = lb.fit_transform(salary_train["workclass"])
salary_train["relatioship"] = lb.fit_transform(salary_train["relationship"])

In [35]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary,relatioship
0,39,5,9.0,13,4,0.0,Not-in-family,4,1,2174,0,40,37,<=50K,1
1,50,4,9.0,13,2,3.0,Husband,4,1,0,0,13,37,<=50K,0
2,38,2,11.0,9,0,5.0,Not-in-family,4,1,0,0,40,37,<=50K,1
3,53,2,1.0,7,2,5.0,Husband,2,1,0,0,40,37,<=50K,0
4,28,2,9.0,13,2,9.0,Wife,2,0,0,0,40,4,<=50K,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7.0,12,2,12.0,Wife,4,0,0,0,38,37,<=50K,5
30157,40,2,11.0,9,2,6.0,Husband,4,1,0,0,40,37,>50K,0
30158,58,2,11.0,9,6,0.0,Unmarried,4,0,0,0,40,37,<=50K,4
30159,22,2,11.0,9,4,0.0,Own-child,4,1,0,0,20,37,<=50K,3
30160,52,3,11.0,9,2,3.0,Wife,4,0,15024,0,40,37,>50K,5

In [12]:
from sklearn.preprocessing import StandardScaler

In [26]:
salary_train['education'] = salary_train['education'].astype(float)
salary_train['occupation'] = salary_train['occupation'].astype(float)
#salary_test['education'] = salary_test['education'].astype(float)
#salary_test['occupation'] = salary_test['occupation'].astype(float)

In [27]:
train_X = salary_train.iloc[:,[0,2,5]]

In [28]:
scaler = StandardScaler().fit(train_X)

In [ ]:
train_X

In [ ]:
train_Y = salary_train.iloc[:, 13]

In [ ]:
train_Y

In [30]:
test_X  = salary_test.iloc[:,[0,2,5]]

In [36]:
scaler = StandardScaler().fit(test_X)

ValueError: could not convert string to float: ' 11th'

In [ ]:
test_y  = salary_test.iloc[:, 13]

In [ ]:
# KErnal linear model#
from sklearn.svm import SVC

In [ ]:
model_linear = SVC(kernel = "linear")

In [ ]:
model_linear.fit(train_X,train_Y)

In [ ]:
test_preds = model_linear.predict(test_X)

In [37]:
np.mean(test_preds == test_y)

NameError: name 'test_preds' is not defined

In [ ]:
model_rbf = SVC(kernel = "rbf")

In [ ]:
model_rbf.fit(train_X, train_y)

In [ ]:
pred_test_rbf = model_rbf.predict(test_X)

In [ ]:
np.mean(pred_test_rbf==test_y)

In [ ]:
pred_train_rbf = model_rbf.predict(train_X)

In [ ]:
np.mean(pred_train_rbf==train_y)